.loan-options{
    margin: 0 px;
    color : #f5f6fa;
}

.loan-hed{
   color: #f39c12;
   text-shadow: -1px 0 1px yellow;
   padding-bottom: 20px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.what-head{
    color:#F8EFBA;
}

.online-option{
    color : #f5f6fa;
}

